* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #8ACE00;
    font-family: Arial;
}

h1 {
    font-size: 150px;
    font-weight: lighter;
    text-align: center;
}


header li {
    display: inline;
    color: darkolivegreen;
    margin-left: 16px;
    margin-right: 100px;
    font-family: arial;
    font-weight: bold;
    text-align: left;
}

header li a {
    color: darkolivegreen;
    text-decoration: none;
    text-align: left;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    height: 300px;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2, .articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article h3 {
    font-size: 25px;
}

section h2 {
    font-size: 32px;
}

